footer{
    position: fixed;
    bottom: 0px;
}
.custom {
    width: 170px !important;
    
}
.text-left {
    text-align: left !important;
  }

  .float-right {
    float: right !important;
  }
  .float-center {
    float: center !important;
  }

  .custom2{
    width: 200px !important;
    
}

.chart{
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
  
  }
  p {
    text-align: center;
    font-family:'Verdana', sans-serif;
    font-size: 10px;
  }
  
  canvas{
    height: 100%;
  }
  .custombtn{
      background-color: #3D88FD !important;
  }